<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link href="static/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="line1">
						<svg width="1277" height="76" viewBox="0 0 1277 76" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g filter="url(#filter0_df)">
							<path d="M-123 34L1247 34" stroke="url(#paint0_radial)" stroke-width="15"/>
							</g>
							<defs>
							<filter id="filter0_df" x="-153" y="0.5" width="1430" height="75" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
							<feOffset dy="4"/>
							<feGaussianBlur stdDeviation="15"/>
							<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.8 0 0 0 0 0.98 0 0 0 1 0"/>
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
							<feGaussianBlur stdDeviation="2.5" result="effect2_foregroundBlur"/>
							</filter>
							<radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(433.926 270.5) rotate(90) scale(0.5 813.074)">
							<stop stop-color="#FFCCFA"/>
							<stop offset="1" stop-color="#DE20B4"/>
							</radialGradient>
							</defs>
							</svg>
					
					
					
							<div class="a1"></div>
					</div>
					<div class="arrow1">
						<svg width="158" height="263" viewBox="0 0 158 263" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter1_df)">
						<path d="M35.4096 31.0801L117.761 124.215L37.016 223.841" stroke="url(#paint1_radial)" stroke-width="13"/>
						</g>
						<defs>
						<filter id="filter1_df" x="0.391602" y="0.0791016" width="156.727" height="261.937" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset dy="4"/>
						<feGaussianBlur stdDeviation="15"/>
						<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.8 0 0 0 0 0.98 0 0 0 1 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						<feGaussianBlur stdDeviation="2.5" result="effect2_foregroundBlur"/>
						</filter>
						<radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(76.9892 127.128) rotate(179.532) scale(40.7941 96.3839)">
						<stop stop-color="#FFCCFA"/>
						<stop offset="0.578125" stop-color="#FF5ABD"/>
						</radialGradient>
						</defs>
						</svg>
					</div>
					<div class="line2">
						<svg width="1119" height="76" viewBox="0 0 1119 76" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g filter="url(#filter2_df)">
							<path d="M30 34H1089" stroke="url(#paint2_radial)" stroke-width="15"/>
							</g>
							<defs>
							<filter id="filter2_df" x="0" y="0.5" width="1119" height="75" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
							<feOffset dy="4"/>
							<feGaussianBlur stdDeviation="15"/>
							<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.8 0 0 0 0 0.98 0 0 0 1 0"/>
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
							<feGaussianBlur stdDeviation="2.5" result="effect2_foregroundBlur"/>
							</filter>
							<radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(460.5 270.5) rotate(90) scale(0.5 628.501)">
							<stop stop-color="#FFCCFA"/>
							<stop offset="1" stop-color="#DE20B4"/>
							</radialGradient>
							</defs>
							</svg>
							<div class="a2"></div>
					</div>
					<div class="arrow2">
			<svg width="226" height="363" viewBox="0 0 226 363" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g filter="url(#filter3_df)">
				<path d="M167 52L62.1527 179.584L165 302" stroke="url(#paint3_radial)" stroke-width="17"/>
				</g>
				<defs>
				<filter id="filter3_df" x="0.0224609" y="0.49707" width="225.585" height="361.839" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dy="4"/>
				<feGaussianBlur stdDeviation="25"/>
				<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.8 0 0 0 0 0.98 0 0 0 1 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
				<feGaussianBlur stdDeviation="2.5" result="effect2_foregroundBlur"/>
				</filter>
				<radialGradient id="paint3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(113.071 178.908) rotate(179.532) scale(50.9223 123.512)">
				<stop stop-color="#FF5ABD"/>
				<stop offset="1" stop-color="#FF5ABD"/>
				</radialGradient>
				</defs>
				</svg>
				
					</div>
					<div class="line3">
						<svg width="1119" height="76" viewBox="0 0 1119 76" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g filter="url(#filter4_df)">
							<path d="M30 34H1089" stroke="url(#paint4_radial)" stroke-width="15"/>
							</g>
							<defs>
							<filter id="filter4_df" x="0" y="0.5" width="1119" height="75" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
							<feOffset dy="4"/>
							<feGaussianBlur stdDeviation="15"/>
							<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.8 0 0 0 0 0.98 0 0 0 1 0"/>
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
							<feGaussianBlur stdDeviation="2.5" result="effect2_foregroundBlur"/>
							</filter>
							<radialGradient id="paint4_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(460.5 270.5) rotate(90) scale(0.5 628.501)">
							<stop stop-color="#FFCCFA"/>
							<stop offset="1" stop-color="#DE20B4"/>
							</radialGradient>
							</defs>
							</svg>
							<div class="a3"></div>
					</div>
					<div class="arrow3">
						<svg width="158" height="263" viewBox="0 0 158 263" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter5_df)">
						<path d="M35.4096 31.0801L117.761 124.215L37.016 223.841" stroke="url(#paint5_radial)" stroke-width="13"/>
						</g>
						<defs>
						<filter id="filter5_df" x="0.391602" y="0.0791016" width="156.727" height="261.937" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset dy="4"/>
						<feGaussianBlur stdDeviation="15"/>
						<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.8 0 0 0 0 0.98 0 0 0 1 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						<feGaussianBlur stdDeviation="2.5" result="effect2_foregroundBlur"/>
						</filter>
						<radialGradient id="paint5_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(76.9892 127.128) rotate(179.532) scale(40.7941 96.3839)">
						<stop stop-color="#FFCCFA"/>
						<stop offset="0.578125" stop-color="#FF5ABD"/>
						</radialGradient>
						</defs>
						</svg>
					</div>
					<div class="line4">
						<svg width="1277" height="76" viewBox="0 0 1277 76" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g filter="url(#filter6_df)">
							<path d="M-123 34L1247 34" stroke="url(#paint6_radial)" stroke-width="15"/>
							</g>
							<defs>
							<filter id="filter6_df" x="-153" y="0.5" width="1430" height="75" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
							<feOffset dy="4"/>
							<feGaussianBlur stdDeviation="15"/>
							<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.8 0 0 0 0 0.98 0 0 0 1 0"/>
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
							<feGaussianBlur stdDeviation="2.5" result="effect2_foregroundBlur"/>
							</filter>
							<radialGradient id="paint6_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(433.926 270.5) rotate(90) scale(0.5 813.074)">
							<stop stop-color="#FFCCFA"/>
							<stop offset="1" stop-color="#DE20B4"/>
							</radialGradient>
							</defs>
							</svg>
							<div class="a4"></div>
					</div>
					<div class="card1">
						<div class="card1-inner">
							<div class="card1-front">
							  <h1>Makeathon 3077</h1>
							</div>
							<div class="card1-back">
							  <h1>MLSC</h1>
							</div>
						</div>
					</div>
					<div class="card2">
						<div class="card2-inner">
							<div class="card2-front">
							  <h1>Makeathon 3077</h1>
							</div>
							<div class="card2-back">
							  <h1>MLSC</h1>
							</div>
						</div>
					</div>
					<div class="card3">
						<div class="card3-inner">
							<div class="card3-front">
							  <h1>Makeathon 3077</h1>
							</div>
							<div class="card3-back">
							  <h1>MLSC</h1>
							</div>
						</div>
					</div>
					<div class="card4">
						<div class="card4-inner">
							<div class="card4-front">
							  <h1>Makeathon 3077</h1>
							</div>
							<div class="card4-back">
							  <h1>MLSC</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>